.header{
    width: 100%;
    background-color: $background-color;
    height: 10vh;
}
    
.nav{
    font-family: $font-display;
    padding: 0px;
    font-size: small;

    .logo{
        flex-basis: auto;
    }
    .navbar-nav__container{
        padding: 0px !important;
        height: 100%;
    }
    .nav-item, .nav-item:active{
        text-align: start;
        padding: 0px;
        color:$primary-color !important;
    }
    .nav-item:hover{
        color: $secondary-color !important;
        transform: scale(1.1);
        transition: all .2s ease-in-out;
        text-decoration: underline $secondary-color;
}}


    .navbar-collapse {
    height: 17.5vh;
    background-color: #197BBD;
    border-bottom-left-radius: 10px;
    width: 25vw;
    position: absolute;
    right: -2% !important;
    opacity: 95%;
    .navbar-nav{
        height: 100%;
    }
    .navbar-collapse__item {
        color: $background-color;
    }
}



// Projects carousel
.carousel{
    display: flex;
    flex-direction: row;
    max-height: 50vh;
    justify-content: center;
    align-items: center;

    .carousel__button-left, .carousel__button-right{
        margin-left: 2vw;
        margin-right: 2vw;
        min-height: 22px;
        min-width: 31px;
        max-width: 96px;
        max-height: 66px;
        }
    .carousel__button-left:hover, .carousel__button-right:hover{
        transform: scale(1.2);
        transition: all .2s ease-in-out;
        fill: $tertiary-color;
    }

}

.carousel__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button{
    background-color: $secondary-color;
    color: $primary-color;
    border-radius: 16px;
    text-align: center;
    width: 30vmin;
    font-family: $font-body;
    border: none;
    font-size: 3vmin;
    text-align: center; 
}
    .button:hover {
        transform: scale(1.1);
        transition: all .2s ease-in-out;
        color: $background-color;
        border: 2px $tertiary-color;
        }
    
