.nav{
    box-shadow: 0px 14px 12px rgba(30, 30, 36, 0.07);
    font-family: $font-display;
    margin-bottom: 2vh;
    background-color: $background-color;
    position: sticky;
.logo{
    flex-basis: auto;
}
.navbar-nav__container{
    padding: 0px !important;
}
.nav-item, .nav-item:active{
    text-align: start;
    padding: 0px;
    color:$primary-color !important;
}

}

.c-scroll{
    text-align: center;
.c-scroll__text{
    margin:5px;
    margin-top: 2vh;

.s-scroll__img-conainer{
    height: 5vh;
}

}
}