/*Landing styles*/
.landing{
    height: 100vh;

    .landing__hi { 
        display: flex;
        justify-content: center;
        align-items: center;
        color: $secondary-color;
        /*font-size: /*15em;*/  /*5vw;*/
        margin-top: 4vh;
        background-color: transparent;
        flex-basis: auto;
    }
    
    .landing__intro{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12em;
        font-size: 4vw;
        background-color: transparent;
    }
    .svg-container{
        height: 60vh;
    }
    .landing__img {
        display: block;
        margin: auto;
        height: 500px ;
    }}


/*About styles*/

.about{
    background-image:url(./imgs/about-bg.svg);
    background-repeat: no-repeat;
    .about__title{
        color: $secondary-color;
        font-size: 2em;
        font-size: 2vw;
        margin-top: 2vh;
        background-color: transparent; 
        display: flex;
        flex-basis: auto;
    }



}


.about__paragraph{
    font-size: calc(1em + 1vw); 
    }
  