@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
* {

}

nav {
  box-shadow: 0px 4px 12px rgba(30, 30, 36, 0.07);
  max-width:1140px;
}

.navbar-nav {
  flex-direction: row;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FAF4ED;
}