@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
.container {
  background-color: #FAF4ED;
}

h1, h2, h3, h4, h5 {
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

main {
  background-color: #FAF4ED;
}

.nav {
  box-shadow: 0px 14px 12px rgba(30, 30, 36, 0.07);
  font-family: "Red Hat Display", sans-serif;
  background-color: #FAF4ED;
}
.nav .logo {
  flex-basis: auto;
}
.nav .navbar-nav__container {
  padding: 0px !important;
  height: 100%;
}
.nav .nav-item, .nav .nav-item:active {
  text-align: start;
  padding: 0px;
  color: #1E1E24 !important;
}
.nav .nav-item:hover {
  color: #ED6340 !important;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

/*
nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    border: black 5px solid;
    position: fixed;
    top: 0;

    .logo{
        height: 100%;
        width: 15%;
    }
    .links{
        height: 100%;
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}*/
.c-scroll {
  text-align: center;
}
.c-scroll .c-scroll__text {
  margin: 5px;
  margin-top: 2vh;
}
.c-scroll .c-scroll__text .s-scroll__img-conainer {
  height: 5vh;
}

.landing {
  height: 80vh;
}
.landing .landing__hi {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ED6340;
  font-size: 10rem;
  font-size: 10vw;
  /*font-size: /*15em;*/
  /*5vw;*/
  margin-top: 4vh;
  background-color: transparent;
  flex-basis: auto;
}
.landing .landing__intro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12em;
  font-size: 4vw;
  background-color: transparent;
  margin-top: 1vh;
}
.landing .svg-container {
  height: 50vh;
}
.landing .landing__img {
  display: block;
  margin: auto;
  text-align: center;
}

@media (min-width: 1200px) {
  .landing__hi {
    font-size: 4rem;
  }
}
.about__title {
  color: #ED6340;
  font-size: 2rem;
  margin-top: 2vh;
  background-color: transparent;
}

/*.about__paragraph{
padding-top: 5vh;
}*/
/*
.about___main{
position: absolute;
top: 0;
    .about__container{
        position: relative;
        background-color: transparent;
    }
    .about__img{
        position:relative;

    }
}
*/
@media (min-width: 0px) {
  .about__container {
    background-image: url(./imgs/about-bg-sm.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 65vh;
  }

  .about__paragraph {
    font-size: 10px !important;
    padding-top: 0vw !important;
  }

  .personal__text {
    font-size: 10px !important;
  }

  .personal__img {
    max-width: 206px !important;
    max-height: 176px !important;
  }

  .personal__container {
    background-image: url(./imgs/sunday-pm.svg);
    background-repeat: no-repeat;
    background-position: center !important;
    background-size: contain;
    height: 20vh;
  }
}
@media (min-width: 410px) {
  .about__paragraph {
    font-size: 12px !important;
  }

  .about__container {
    background-image: url(./imgs/about-bg.svg) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 618px;
  }

  .personal__text {
    font-size: 12px !important;
  }
}
/*
@media(min-width:400px){
.about__paragraph{
    font-size: 12px !important;
    padding-top: 20vh;
    line-height: 1;
}}*/
@media (min-width: 650px) {
  .about__paragraph {
    font-size: 1rem !important;
    padding-top: 50px;
    line-height: 2;
  }

  .personal__container {
    background-image: url(./imgs/sunday-pm.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .personal__text {
    font-size: 14px !important;
    padding-top: 20px !important;
  }
}