.about__title{
    font-size: 3rem;
    color: $secondary-color;
    margin-top:  5vh;
    }
    .about___text--color{
    color: $tertiary-color !important;
    }

@media(min-width:0px){
.about__container {
    background-image:url(./imgs/about-bg-sm.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 65vh;
}
.about__paragraph {
    font-size: 10px !important;
    padding-top: 0vw !important;
}
.personal__text{
    font-size: 10px !important;
    padding-top: 2.5vh;
}
.personal__img{ 
max-width: 206px !important;
max-height: 176px !important;
}    
.personal__container {
background-image: url(./imgs/sunday-pm.svg);
background-repeat: no-repeat;
background-position: center !important;
background-size: contain;
height: 20vh;
}
}


@media(min-width:410px){
.about__paragraph{
    font-size: 12px !important;
}
.about__container {
   background-image:url(./imgs/about-bg.svg) !important;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   min-height: 65vh;
}
.personal__text{
    font-size: 12px !important;
}
.about__title{
    color: $secondary-color;
    font-size: 3rem;
    margin-top: 1vh;
}
}
/*
@media(min-width:400px){
.about__paragraph{
    font-size: 12px !important;
    padding-top: 20vh;
    line-height: 1;
}}*/


@media(min-width:1300px){
.about__paragraph{
    font-size: 1rem !important;
    padding-top: 50px;
    line-height: 2;

}
.personal__container {
    background-image: url(./imgs/sunday-pm.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.personal__text{
    font-size: 14px !important;
    padding-top: 20px !important;
}
}

