
#contact{
    height: 90vh;

    .shape {
        height: 80%;
    }


    .contact__bg{
        background-image: url(./imgs/contact-bg-01.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 75vh;
        display: flex; 
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        }

        .contact__container {
            height: 30%;
        }

        .contact-item{
            height: 15vh;
            @media only screen and (max-width: 375px) {
                height: 7.5vh;
                }
        }

        .contact-item___text {
            display: none;
            color: $primary-color;
                @media only screen and (max-width: 375px) {
                    font-size: 0.75em;
                    line-height: 1.25em;
                }
                @media only screen and (min-width: 375px) {
                    font-size: 0.75em;
                    line-height: 1.5em;
                }
            }
        .icon {
            font-size: 2.5rem; 
                @media only screen and (max-width: 375px) {
                    font-size: 1.5em;
                }

        }
       
        .contact-item:hover {   
            .icon {
                color: $tertiary-color;
                transition: all .10s ease-in-out;
            }

             .contact-item___text {
            display: block;
            }   
     }
    }


