.landing{
    height: 90vh;

.landing__hi {
    font-size: 2rem;
    color: $secondary-color !important;
    margin-top: 4vh;
    font-size:10vw;
    }
.landing__intro{
    font-size: 5vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    }
.svg-container{
    height: 50vh;
    }
  .landing__img {
   display: block;
    margin: auto;
    text-align: center;
    }
    .landing__img:hover{
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    }
}

  @media (min-width:992px) {
    .landing__hi {
        font-size:5em !important;
    }
      .landing__intro{
          font-size: 2.75rem !important;
    }
 }
  @media (min-width:1400px) {
    .landing__hi {
        font-size: 6rem !important;
        color: $secondary-color !important;
        margin-top: 5vh;
    }
    .landing__intro{
        font-size: 3rem !important;
        margin-bottom: 5vh;
    }
  }

