.landing{
    height: 90vh;
    @media only screen and (max-width: 1026px) {
        justify-content: space-evenly;
    }
    #hi__text{
        display:flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
        }

    .hi__hi {
        margin: 1vmin;
        }
        
    .hi__intro {
        margin: 2vmin;
        font-size: 5vmin;

        #hi__location{
            white-space: pre;
            color: $secondary-color;
        }
        #hi__role{
            white-space: pre;
            color: $tertiary-color;
        }
    
        .landing__cta{
        margin-top: 3vmin;
        }
        }
          
         .landing__img {
        display: block;
        margin: auto;
        text-align: center;
        }
        .landing__img:hover {
            transform: scale(1.1);
            transition: all .3s ease-in-out;
            }
        }

 .svg-container{
    @media only screen and (min-width: 500px) and (max-width: 1366px) {
        width: 55vmin;
    }
    @media only screen and (min-width: 1366px){
        width: 50vmin;
    }
}
  
