.skills {
    height: 90vh;
        .skill {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 20vh;
            @media only screen and (max-width: 375px) {
                height: 13vh;
                }
            }
        .skills__title {
            display: none;
            color: $primary-color;
                @media only screen and (max-width: 375px) {
                    font-size: 0.75em;
                    line-height: 1.25em;
                }
                @media only screen and (min-width: 375px) {
                    font-size: 1em;
                    line-height: 1.5em;
                }
            }
        .icon {
            font-size: 2.5rem; 
                @media only screen and (max-width: 375px) {
                    font-size: 1.5em;
                }
            }
        }
        .skill:hover {
                transform: scale(1.2);
                transition: all .30s ease-in-out;
                
                .icon{
                    color: $tertiary-color;
                }

            .skills__title {
                display: block;
            }   
         }





